@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

:root {
  --background-color: #22223B;
  --text-white: #FFFFFF;
  --text-primary: #1E1E1E;
  --light-gradient: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.App {
  text-align: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-white);
  font-family: 'Poppins', sans-serif;
}

